#QUestion 1

A database is a structured collection of data that is organized, managed, and accessed electronically. It provides a way to store, retrieve, modify, and manage data efficiently. Databases are widely used in various applications and systems to store and retrieve data in a structured manner.

Differentiating between SQL and NoSQL Databases:

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems that differ in their data models, query languages, and underlying principles. Here are the key differences:

SQL Databases:
- SQL databases are based on a relational data model, where data is organized into tables with predefined schemas and relationships between tables.
- They use SQL as the standard query language to interact with the database.
- SQL databases have a fixed schema, meaning the structure and types of data are defined in advance.
- They provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and transactional consistency.
- SQL databases are suitable for applications with structured data, complex relationships, and a need for strong data consistency.
- Examples of SQL databases include MySQL, PostgreSQL, Oracle, Microsoft SQL Server, and SQLite.

NoSQL Databases:
- NoSQL databases encompass a variety of data models, such as document-based, key-value, columnar, and graph databases.
- They provide flexible schemas, allowing for dynamic and unstructured data without predefined schemas.
- NoSQL databases often use different query languages specific to their data model, which may not be SQL-based.
- They prioritize scalability, high performance, and horizontal scaling across distributed systems.
- NoSQL databases sacrifice some ACID properties in favor of eventual consistency, scalability, and handling large amounts of data.
- NoSQL databases are suitable for applications with rapidly changing data, large-scale distributed systems, and flexible data models.
- Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase, and Amazon DynamoDB.

#QUESTION 2

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database and its objects. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.

Here's an explanation of the commonly used DDL statements and their purposes:

1. CREATE:
   - The CREATE statement is used to create new database objects such as tables, views, indexes, or schemas.
   - For example, to create a table named "Customers" with columns for ID, name, and email, you can use the following CREATE statement:

   ```sql
   CREATE TABLE Customers (
       ID INT PRIMARY KEY,
       Name VARCHAR(50),
       Email VARCHAR(100)
   );
   ```

2. DROP:
   - The DROP statement is used to delete existing database objects.
   - For example, to delete the previously created "Customers" table, you can use the following DROP statement:

   ```sql
   DROP TABLE Customers;
   ```

3. ALTER:
   - The ALTER statement is used to modify the structure of an existing database object.
   - It allows you to add, modify, or delete columns, constraints, or other properties of a table.
   - For example, to add a new column named "Address" to the "Customers" table, you can use the following ALTER statement:

   ```sql
   ALTER TABLE Customers
   ADD Address VARCHAR(200);
   ```

4. TRUNCATE:
   - The TRUNCATE statement is used to delete all the rows from a table while keeping its structure intact.
   - It is faster and more efficient than using DELETE statement to remove all rows.
   - Unlike DELETE, TRUNCATE doesn't generate individual delete operations for each row but removes all data in one operation.
   - For example, to remove all data from the "Customers" table, you can use the following TRUNCATE statement:

   ```sql
   TRUNCATE TABLE Customers;
   ```

#QUESTION 3

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate the data within a database. DML statements are used to insert, update, and delete data from tables.

Here's an explanation of the commonly used DML statements and their purposes:

1. INSERT:
   - The INSERT statement is used to insert new rows of data into a table.
   - It allows you to specify the table name and the values to be inserted into each column.
   - For example, to insert a new customer into the "Customers" table with ID 1, name "John Doe," and email "john.doe@example.com," you can use the following INSERT statement:

   ```sql
   INSERT INTO Customers (ID, Name, Email)
   VALUES (1, 'John Doe', 'john.doe@example.com');
   ```

2. UPDATE:
   - The UPDATE statement is used to modify existing data in a table.
   - It allows you to specify the table name, the columns to be updated, and the new values.
   - You can also include a WHERE clause to specify which rows to update based on certain conditions.
   - For example, to update the email of the customer with ID 1 to "john.doe.updated@example.com," you can use the following UPDATE statement:

   ```sql
   UPDATE Customers
   SET Email = 'john.doe.updated@example.com'
   WHERE ID = 1;
   ```

3. DELETE:
   - The DELETE statement is used to delete one or more rows from a table.
   - It allows you to specify the table name and the conditions that determine which rows to delete.
   - If no conditions are specified, all rows in the table will be deleted.
   - For example, to delete the customer with ID 1 from the "Customers" table, you can use the following DELETE statement:

   ```sql
   DELETE FROM Customers
   WHERE ID = 1;
   ```

#QUESTION 4

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. The most commonly used DQL statement is SELECT, which allows you to specify the columns and conditions for retrieving data from one or more tables.

Here's an explanation of the SELECT statement and an example:

SELECT:
- The SELECT statement is used to retrieve data from one or more tables in a database.
- It allows you to specify the columns you want to retrieve, filter the rows based on certain conditions, and order the result set.
- The basic syntax of the SELECT statement is as follows:

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition
ORDER BY column_name;
```

- Here's a breakdown of the different components of the SELECT statement:
  - column1, column2, ...: The columns you want to retrieve data from. You can specify individual column names or use the asterisk (*) to select all columns.
  - table_name: The name of the table or tables from which you want to retrieve data.
  - condition: Optional. Specifies the conditions that the retrieved rows must satisfy. You can use logical operators (AND, OR), comparison operators (=, >, <, etc.), and other SQL functions to define conditions.
  - ORDER BY column_name: Optional. Specifies the column(s) by which the result set should be sorted. You can specify ascending (ASC) or descending (DESC) order.

#QUESTION 5

Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each row in the table. It serves as a unique identifier for the records in the table and ensures the integrity and uniqueness of the data. Here are some key points about primary keys:

1. Uniqueness: Each value in the primary key column(s) must be unique within the table. No two rows can have the same primary key value.
2. Non-nullability: Primary key values cannot be NULL. They must have a valid value for each row.
3. Indexing: Primary keys are usually indexed by the database system to facilitate faster data retrieval and enforce uniqueness.
4. Constraints: Primary keys can be used to define constraints such as enforcing referential integrity with foreign keys and ensuring data consistency.

Foreign Key:
A foreign key is a column or a set of columns in a database table that establishes a link between data in two tables. It creates a relationship between tables based on the values in the foreign key column(s) and the primary key column(s) of another table. Here are some key points about foreign keys:

1. Referential Integrity: Foreign keys maintain referential integrity, which means they ensure that data in the referencing table (child table) corresponds to data in the referenced table (parent table).
2. Relationship: A foreign key establishes a relationship between two tables based on the values in the foreign key column(s) and the primary key column(s) of the referenced table.
3. Enforcement: Foreign keys can enforce data integrity by restricting operations that would violate the defined relationship, such as deleting a parent record that has dependent child records.
4. Cascading Actions: Foreign keys can define cascading actions, such as cascading deletes or updates, where changes to the referenced table automatically affect the referencing table.

#QUESTION 6
import mysql.connector

# Establishing the connection to MySQL
cnx = mysql.connector.connect(
    host='your_host',
    user='your_username',
    password='your_password',
    database='your_database'
)

# Creating a cursor object
cursor = cnx.cursor()

# Executing a SQL query
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetching and printing the result
result = cursor.fetchall()
for row in result:
    print(row)

# Closing the cursor and the connection
cursor.close()
cnx.close()

# QUESTION 7